body {
  font-family: serif;
  background-color: rgb(247, 245, 251);
}

.Weather {
  max-width: 700px;
  margin: 0 auto;
  padding: 30px;
  margin-top: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.formControl {
  background-color: rgb(247, 245, 251);
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

input[type="submit"] {
  background-color: rgb(125, 82, 240);
  color: white;
  padding: 15px 22px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

h1 {
  font-family: cursive;
  color: #303841;
  font-weight: bold;;
  margin: 22px 30px;
  opacity: 0.8;
}

ul{
    opacity: 0.9;
    line-height: 1.2;
}

li {
    color: #3a4750;
    list-style-type: none
}

li .measures{
    color: #be3144;
    font-weight: bold;
}

.exactTemperature {
    display: block;
    margin: auto 0;
    font-family: cursive;
    font-size: 60px;
    color: #303841;
    opacity: 0.8;
}
